[Unit]
Description= Measure
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/aitor/CRT/CRT_project/Signal_Generation/WiringPi/MeasureExecutable
Restart=no

[Install]
WantedBy=multi-user.target
